<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
    <!-- gameserver logback.xml -->

    <property resource="logback-web.properties"/>

    <property resource="global-logback.properties"/>

    <include resource="logback/properties.xml"/>

    <property resource="gameserver-logback.properties"/>

    <!-- some element of logging is in jetty config also -->
    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <filter class="us.heptet.magewars.logging.ThresholdLoggerFilter">
            <logger>org.eclipse.jetty</logger>
            <level>WARN</level>
        </filter>

        <encoder>
            <pattern>gameserver %d{HH:mm:ss.SSS} [%thread] %-5level %logger{360} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="OUTFILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>${logdir}/${logfileprefix}gameserver-webapp${logfilesuffix}</file>

        <encoder>
            <pattern>${longdate} [%thread] %-5level %logger{360} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="requestmapping" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>${logdir}/${logfileprefix}gameserver-requestmapping${logfilesuffix}</file>

        <encoder>
            <pattern>%d{HHmmss} %3.-3thread %.-1level %36.-36logger{36} %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="JETTYOUTFILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>${logdir}/${logfileprefix}gameserver-jetty${logfilesuffix}</file>

        <encoder>
            <pattern>%d{HHmmss} %3.-3thread %.-1level %36.-36logger{36} %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="HEPTETOUTFILE" class="ch.qos.logback.core.FileAppender">
        <append>true</append>
        <file>${logdir}/${logfileprefix}gameserver-heptet${logfilesuffix}</file>

        <encoder>
            <pattern>%d{HHmmss} %3.-3thread %.-1level %36.-36logger{36} %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='isNull("logAll")'>
        <then>
            <logger name="org.eclipse.jetty" level="debug" additivity="true">
                <appender-ref ref="JETTYOUTFILE"/>
            </logger>


<!--
            <include resource="logback/atmosphere-quiet.xml"/>
            -->

            <include resource="logback/spring-quiet.xml"/>

            <!-- this class reports on URLS provided by webmvc controllers -->
            <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"
                    level="trace">
                <appender-ref ref="requestmapping"/>
            </logger>

            <logger name="com.ning.http" level="trace"/>

            <logger name="org.hibernate" level="warn"/>
            <logger name="org.hibernate.SQL" level="warn">
                <!-- experiment with conditions yay -->
                <!--
                        <if condition='!isNull("sql-to-stdout")'>
                            <then>
                                <appender-ref ref="STDOUT"/>
                            </then>
                        </if>
                        -->
            </logger>
            <logger name="us.heptet.magewars.ui.DebugEventFilter" level="info"/>
            <!--<logger name="org.hibernate.type" level="trace">
                <appender-ref ref="STDOUT"/>
            </logger>-->
            <!--
            <logger name="us.heptet" level="trace">
                <appender-ref ref="HEPTETOUTFILE"/>
            </logger>
            -->
            <logger name="us.heptet" level="trace">
                <appender-ref ref="HEPTETOUTFILE"/>
            </logger>
            <logger name="org.apache.http.wire" level="warn"/>
        </then>
    </if>
    <root level="trace">
        <appender-ref ref="OUTFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
