<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- domain logback test logback.xml -->
    <property resource="logback-test.properties"/>

    <property resource="global-logback.properties"/>

    <include resource="logback/properties.xml"/>

    <property resource="domain-logback.properties"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned by default the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${stdoutLevel}</level>
        </filter>
        <filter class="us.heptet.magewars.logging.ThresholdLoggerFilter">
            <logger>us.heptet.magewars</logger>
            <level>${stdoutLevel}</level>
        </filter>


        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{360} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="OUTFILE" class="ch.qos.logback.core.FileAppender">
        <append>false</append>
        <file>${logdir}/${logfileprefix}domain${logfilesuffix}</file>

        <encoder>
            <pattern>${longdate} [%thread] %-5level %logger{360} - %msg%n</pattern>
<!--            <pattern>%d{HHmmss} %3.-3thread %.-1level %36.-36logger{36} %msg%n</pattern>-->
        </encoder>
    </appender>

<!--
    <logger name="us.heptet" level="TRACE">
    </logger>
-->
    <root level="trace">
        <appender-ref ref="OUTFILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
