<included>
    <if condition='isNull("springTraceToFile")'>
        <then>
            <!-- set to warn to remove spam -->
            <logger name="org.springframework" level="warn"></logger>

            <!-- these are helpful to set to other levels for useful info -->
            <logger name="org.springframework.web.context.support.StandardServletEnvironment" level="info"/>
            <logger name="org.springframework.context.annotation" level="trace"/>
            <logger name="org.springframework.context.annotation.ClassPathBeanDefinitionScanner" level="info"/>
            <!-- this was trace but gets spammy in webapps -->
            <logger name="org.springframework.context.annotation.ConfigurationClassBeanDefinitionReader" level="info"/>

            <logger name="org.springframework.context.annotation.ConfigurationClassPostProcessor" level="info"/>
            <logger name="org.springframework.context.annotation.ConfigurationClassEnhancer" level="info"/>
            <logger name="org.springframework.context.annotation.ClassPathScanningCandidateComponentProvider"
                    level="debug"/>
            <logger name="org.springframework.beans.factory.xml" level="info"/>
            <logger name="org.springframework.beans.factory.xml.DefaultDocumentLoader" level="info"/>
            <logger name="org.springframework.beans.factory.xml.PluggableSchemaResolver" level="info"/>
            <logger name="org.springframework.core.env.StandardEnvironment" level="info"/>
        </then>
        <else>
            <appender name="SPRINGTRACE"
                      class="ch.qos.logback.core.FileAppender">
                <file>logs/spring-trace-log.txt</file>
                <encoder>
                    <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{360} - %msg%n</pattern>
                </encoder>
            </appender>
            <logger name="org.springframework" level="trace" additivity="false">
                <appender-ref ref="SPRINGTRACE"/>
            </logger>
        </else>
    </if>
</included>
