<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
<!--
    <servlet>
        <description>AtmosphereServlet</description>
        <servlet-name>AtmosphereServlet</servlet-name>
        <servlet-class>org.atmosphere.cpr.AtmosphereServlet</servlet-class>
-->
<!--was uncommendted out
        <init-param>
            <param-name>org.atmosphere.cpr.AtmosphereInterceptor</param-name>
            <param-value>org.atmosphere.gwt20.server.GwtRpcInterceptor</param-value>
        </init-param>
        -->
<!--
        <init-param>
            <param-name>org.atmosphere.cache.UUIDBroadcasterCache.clientIdleTime</param-name>
            <param-value>300</param-value>
        </init-param>
-->
        <!--was uncommendted out
        <init-param>
            <param-name>org.atmosphere.cpr.AtmosphereInterceptor.disableDefaults</param-name>
            <param-value>true</param-value>
        </init-param>
        -->
<!--
        <load-on-startup>1</load-on-startup>
        &lt;!&ndash;Uncomment if you want to use Servlet 3.0 Async Support&ndash;&gt;
        <async-supported>true</async-supported>
    </servlet>
-->
<!--
    <servlet-mapping>
        <servlet-name>AtmosphereServlet</servlet-name>
        <url-pattern>/webapp/atmosphere/*</url-pattern>
        <url-pattern>/atmosphere/*</url-pattern>
        <url-pattern>/test/*</url-pattern>
        <url-pattern>/test</url-pattern>
        <url-pattern>/atm</url-pattern>
        <url-pattern>/atm/*</url-pattern>
    </servlet-mapping>
-->

    <!--
    <context-param>
        <param-name>contextClass</param-name>
        <param-value>
            org.springframework.web.context.support.XmlWebApplicationContext
        </param-value>
    </context-param>
    -->

    <!-- Configuration locations must consist of one or more comma- or space-delimited
        fully-qualified @Configuration classes. Fully-qualified packages may also be
        specified for component-scanning -->
    <!--
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    -->
    <!-- this is important for spring4gwt -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>springGwtRemoteServiceServlet</servlet-name>
        <servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>springGwtRemoteServiceServlet</servlet-name>
        <url-pattern>/webapp/springGwtServices/*</url-pattern>
    </servlet-mapping>

   <!--
    <servlet>
        <servlet-name>connect</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>connect</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/webapp/*</url-pattern>
        <url-pattern>/css/*</url-pattern>
        <url-pattern>/javascript/*</url-pattern>
        <url-pattern>/jquery/*</url-pattern>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/cardimages/*</url-pattern>
        <!--<url-pattern>/WebApp.html</url-pattern>-->
    </servlet-mapping>


    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>WebApp.html</welcome-file>
    </welcome-file-list>

<!--
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->
</web-app>
