<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1">
<test name="Test1">
<packages>
    <package name="us.heptet.magewars.webapp.client.presenter"/>
    <!--<class name="us.heptet.magewars.webapp.client.GwtTestWebApp"/>-->
</packages>
</test>
</suite>